
html body{
	background-image: url(images/hindimg.svg);
	background-size: cover;
	font-family: Arial, sans-serif;
	box-sizing: border-box;
	background-position:center;
	background-repeat:repeat;
	background-color: #2b3137;
}

header{
    width: 100%;
	padding: 0px;
	margin: 0px;
	padding-top: 0px;
}

#cust-header{
position: absolute;
margin-top: 0px;
margin-left: 0px;
padding:0px;
height: 6rem;
width: 100%;
background-color: #24292e;

}

.home-content{
  position: absolute;
  margin-left: calc(25% - 10rem);
  margin-top: calc(35% - 20rem);
  height: 20rem;
  width: 40rem;
  background-color: transparent;

}

.my-words{
	font-weight: bold;
	font-style: italic;
	text-decoration: line-through;

	/*font-stretch: semi-condensed*/
}
.home-content h1{
	padding-left: 30px;
	font-weight: 300;
	font-size: 2rem;
	color:white;

}

.home-content p {
	padding-left: 35px;
	font-size: 1.4rem;
	font-weight: 300;
	color: rgba(255,255,255,0.6);
}

#cust-logo{
	position: absolute;
	margin-top: 0.5rem;
	margin-left: 6rem;
	color: white;

}

#cust-login{
	position: absolute;
	margin-top: 1rem;
	margin-left: calc(50% + 8rem);
	width: 32rem;
	height: 4rem;
	background-color: transparent;
}

.cust-lab{
	display: block;
	padding-bottom: 5px;
	color: white;
}


#email-div{
	position: absolute;
	margin-left: 2rem;
	margin-top: 5px;
}

#pass-div{
	position: absolute;
	margin-top: 5px;
	margin-left: 15rem;
}


#sub-btn-div{
	position: absolute;
	margin-left: 27rem;
	margin-top: calc(1rem + 5px);
	width: 4rem;
	height: 2rem;
	border-radius: 4px;
	background-color: #2b3137;

}

#sub-btn-div label{
	display: inline;
	position: absolute;
	margin-top: calc(0.5rem);
	margin-left:8px;
	color: white;
}

#sub-btn-div:hover, #sub-btn-div label:hover {
	cursor: pointer;
}
#sub-btn-div:hover{
	box-shadow: 2px 2px 2px 2px gray;

}

#forgot-div{
	position: absolute;
	margin-top: calc(2rem + 10px);
	margin-left: calc(15rem + 30px);
	font-size: 13px;
	color: white;

}

#forgot-div p:hover{
	text-decoration: underline;
	cursor: pointer;
}

